<div class="row middle-xs">
  <div class="col-md-4 col-sm-3 col-xs-1"></div>
  <div class="col-md-4 col-sm-6 col-xs-10">

    <p style="text-align:center;">
      <img src="/assets/images/logo.png" width="150" style="max-width: 100%;" alt="PippinPuffin Logo" />
    </p>
    <br>
    <mat-card>
      <div class="p-2">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="Enter your email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <a routerLink="/" mat-raised-button style="width:100%;" color="primary">Login</a>
        </p>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4 col-sm-3 col-xs-1"></div>
</div>
