<div *ngIf="(contents$ | async) as contents" [sortablejs]="contents" [sortablejsOptions]="sortableOptions" [column-id]="column.id">

  <div *ngFor="let content of contents" class="content sortable-item" [content-id]="content.id" [class.selected]="!!content.isSelected">

    <div class="sortable-item-handler">
      <div class="drag">
        <i class="material-icons">drag_handle</i>
      </div>
      <button class="settings" (click)="selectContent(content)">
        <i class="material-icons">settings</i>
      </button>
      <button class="delete" (click)="onDelete(content.id)">
        <i class="material-icons">close</i>
      </button>

    </div>

    <div *ngIf="(selectedContent$ | async) as selectedContent;else defaultContent;">
      <div *ngIf="selectedContent?.id == content.id; else defaultContent;">
        <foundation-content [content]="selectedContent">
          <foundation-text *ngIf="content.contentType == getType.Text" [content]="selectedContent.data.content | safeHtml">
          </foundation-text>

          <foundation-image *ngIf="content.contentType == getType.Image" [data]="selectedContent.data">
          </foundation-image>

          <foundation-button *ngIf="content.contentType == getType.Button" [data]="selectedContent.data">
          </foundation-button>
        </foundation-content>
      </div>
    </div>

    <ng-template #defaultContent>
      <foundation-content [content]="content">
        <foundation-text *ngIf="content.contentType == getType.Text" [content]="content.data.content | safeHtml">
        </foundation-text>

        <foundation-image *ngIf="content.contentType == getType.Image" [data]="content.data">
        </foundation-image>

        <foundation-button *ngIf="content.contentType == getType.Button" [data]="content.data">
        </foundation-button>
      </foundation-content>
    </ng-template>

  </div>

</div>
