<table [class.callout]="isCallout">
  <tr>
    <th [class.callout-inner]="isCallout" [ngClass]="typeInString">
      <ng-content></ng-content>
    </th>
    <th class="expander"></th>
  </tr>
</table>
