<div *ngIf="(selected$ | async) as selected;">

  <mat-toolbar color="default">
    <span class="capitalize">
      Section Settings
    </span>
    <span class="mat-spacer"></span>

    <button mat-icon-button (click)="close()">
      <mat-icon aria-label="Close Content Settings">close</mat-icon>
    </button>
  </mat-toolbar>

  <pippin-email-section-form></pippin-email-section-form>

</div>
