mat-sidenav-container {
  width: 100%;
}

mat-sidenav-content,
mat-sidenav {
  overflow: hidden;
}

mat-sidenav-content {
  width: 70%;
}

mat-sidenav {
  width: 30%;
}

iframe {
  width: 100% !important;
  min-height: calc(100vh - 69px);
  padding: 0;
  margin: 0;
}
