<mat-sidenav-container *ngIf="(this.theme$ | async) as theme">
  <mat-sidenav mode="side" opened="true" position="end">

    <mat-toolbar>
      <span>{{ theme.name }}</span>
      <span class="mat-spacer"></span>
      <a mat-button routerLink="/themes">Back</a>
    </mat-toolbar>

    <pippin-theme-form-customize [theme]="theme" (update)="onUpdate($event)"></pippin-theme-form-customize>

  </mat-sidenav>
  <mat-sidenav-content>

    <iframe #iframe id="iframe" [src]="trustedUrl" (load)="onLoad()" frameborder="0"></iframe>

  </mat-sidenav-content>
</mat-sidenav-container>
