<div *ngIf="selectedContent?.contentType === contentType.Text">
  <form [formGroup]="form" novalidate (ngSubmit)="submit()">

    <div class="right-panel-form">
      <editor formControlName="content" [init]="tinyMCESettings"></editor>
    </div>

    <div class="p-2">
      <button type="submit" mat-raised-button color="primary">Save</button>
    </div>

  </form>
</div>
