<mat-toolbar>
  <span>Themes</span>
  <span class="mat-spacer"></span>
  <a routerLink="new" mat-mini-fab color="primary">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<div class="p-4">
  <pippin-theme-preview-list [themes]="themes$ | async"></pippin-theme-preview-list>
</div>
