<mat-card *ngIf="(!themes?.length)">
  No Themes available.
</mat-card>

<div class="row">
  <div *ngFor="let theme of themes" class="col-xs-12 col-sm-6 col-md-4">
    <pippin-theme-preview [theme]="theme"></pippin-theme-preview>
    <br>
  </div>
</div>
