<div *ngIf="(loaderService.loader | async)" class="overlay">
  <div class="preloader spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
