<form [formGroup]="form" novalidate>
  <p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        <small *ngIf="name.errors['required']" class="form-text text-danger">Name is required</small>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="2"></textarea>
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
        <small *ngIf="description.errors['required']" class="form-text text-danger">Description is required</small>
      </mat-error>
    </mat-form-field>
  </p>
  <div class="actions">
    <div class="row between-xs">
      <div class="col-xs">
        <button mat-raised-button color="warn" *ngIf="exists" (click)="deleteTheme()"> Delete</button>
      </div>
      <div class="col-xs" style="text-align:right;">
        <button mat-raised-button color="primary" *ngIf="!exists" [disabled]="!form.valid" (click)="createTheme(form)">Create</button>
        <button mat-raised-button color="primary" *ngIf="exists" [disabled]="!form.valid" (click)="updateTheme(form)">Update</button>
      </div>
    </div>
  </div>
</form>
