<mat-sidenav-container *ngIf="(template$ | async) as template">
  <mat-sidenav mode="side" opened="true" position="end" class="mat-elevation-z5">

    <pippin-email-section-settings></pippin-email-section-settings>
    <pippin-email-layout-settings></pippin-email-layout-settings>
    <pippin-email-content-settings></pippin-email-content-settings>

    <div *ngIf="!(hasSelectedElement$ | async)">
      <mat-toolbar>
        <span>{{ template.name }}</span>
        <span class="mat-spacer"></span>
        <a mat-button [routerLink]="'/themes/' + template.themeId + '/templates'">Back</a>
      </mat-toolbar>

      <div class="el-container">
        <pippin-email-editor-section></pippin-email-editor-section>
        <pippin-email-editor-layout></pippin-email-editor-layout>
        <pippin-email-editor-content></pippin-email-editor-content>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <iframe #iframe id="iframe" [src]="trustedUrl" (load)="onLoad()" frameborder="0"></iframe>

  </mat-sidenav-content>
</mat-sidenav-container>
