mat-sidenav-container {
  width: 100%;
}

mat-sidenav-content,
mat-sidenav {
  overflow: hidden;
}

mat-sidenav-content {
  width: calc(100% - 350px);
}

mat-sidenav {
  width: 350px;
}

iframe {
  width: 100%;
  min-height: calc(100vh - 69px);
  padding: 0;
  margin: 0;
}

.el-container {
  overflow: auto;
  height: calc(100vh - 128px);
}
