<div *ngIf="(selectedContent$ | async) as content;">

  <mat-toolbar color="default">
    <span class="capitalize">
      {{ (!isContentFormActive) ? content.contentType : 'Content' }} Settings
    </span>
    <span class="mat-spacer"></span>

    <button mat-icon-button (click)="toggleContentSettings()">
      <mat-icon aria-label="Toggle Content Settings">
        {{ (!isContentFormActive) ? 'settings':'notes' }}
      </mat-icon>
    </button>

    <button mat-icon-button (click)="close()">
      <mat-icon aria-label="Close Content Settings">close</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="isContentFormActive">
    <pippin-email-content-form></pippin-email-content-form>
  </div>

  <div *ngIf="!isContentFormActive">
    <pippin-email-text-form></pippin-email-text-form>
    <pippin-email-button-form></pippin-email-button-form>
    <pippin-email-image-form></pippin-email-image-form>
  </div>

</div>
