<mat-toolbar>
  <a routerLink="/themes" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span *ngIf="!(theme$ | async)?.id">Create Theme</span>
  <span *ngIf="!!(theme$ | async)?.id">Update Theme</span>
</mat-toolbar>

<div class="p-4">
  <pippin-theme-form-settings [theme]="theme$ | async" (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)">
  </pippin-theme-form-settings>
</div>
