<mat-card>

  <mat-card-actions align="right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <a mat-menu-item [routerLink]="'/themes/' + id + '/templates'">
        <mat-icon>folder</mat-icon>
        <span>View Templates</span>
      </a>
      <a mat-menu-item [routerLink]="'/themes/' + id + '/customize'">
        <mat-icon>dashboard</mat-icon>
        <span>Customize</span>
      </a>
      <a mat-menu-item [routerLink]="'/themes/' + id + '/settings'">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-menu>
  </mat-card-actions>

  <img mat-card-image src="../../../../assets/images/preview.jpg" />

  <mat-card-content>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>
      {{ lastUpdate | date }} - {{ lastUpdate | date:'shortTime' }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{ description | truncate:[100] }}
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>
