<div *ngIf="selectedContent?.contentType === contentType.Button">
  <div class="p-2">
    <form [formGroup]="form" novalidate (ngSubmit)="submit()">
      <div class="right-panel-form">

        <mat-form-field>
          <textarea matInput formControlName="caption" placeholder="Caption"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="link" placeholder="Link"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="alignment" placeholder="Alignment">
            <mat-option value="left">Left</mat-option>
            <mat-option value="center">Center</mat-option>
            <mat-option value="right">Right</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="type" placeholder="Type">
            <mat-option value="">Default</mat-option>
            <mat-option value="secondary">Secondary</mat-option>
            <mat-option value="success">Success</mat-option>
            <mat-option value="warning">Warning</mat-option>
            <mat-option value="alert">Alert</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="size" placeholder="Size">
            <mat-option value="tiny">Tiny</mat-option>
            <mat-option value="small">Small</mat-option>
            <mat-option value="">Default</mat-option>
            <mat-option value="large">Large</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="corners" placeholder="Corners">
            <mat-option value="">Default</mat-option>
            <mat-option value="radius">Radius</mat-option>
            <mat-option value="rounded">Round</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="expanded" placeholder="Expanded">
            <mat-option value="">Default</mat-option>
            <mat-option value="expanded">Expanded</mat-option>
            <mat-option value="small-expanded">Expand on Small</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <button type="submit" mat-raised-button color="primary">Save</button>

    </form>
  </div>
</div>
