<div class="p-2">

  <form [formGroup]="form" novalidate (ngSubmit)="submit()">
    <div class="right-panel-form">

      <mat-form-field>
        <mcc-color-picker matPrefix (change)="onBackgroundColorChange($event)" (clickOut)="togglePicker($event)"
          [isOpen]="toggleColorPicker" [selectedColor]="selectedColor" hideButtons="true" hideUsedColors="true" overlay="true"></mcc-color-picker>
        <input (click)="togglePicker($event)" matInput readonly="true" formControlName="backgroundColor" placeholder="Background Color" />
        <mat-icon matSuffix (click)="resetBackgroundColor()">close</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="spacing" placeholder="Spacing">
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="calloutStyle" placeholder="Style">
          <mat-option value="0">None</mat-option>
          <mat-option value="1">Default</mat-option>
          <mat-option value="2">Primary</mat-option>
          <mat-option value="3">Secondary</mat-option>
          <mat-option value="4">Success</mat-option>
          <mat-option value="5">Warning</mat-option>
          <mat-option value="6">Alert</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput formControlName="customClass" placeholder="Custom Class"></textarea>
      </mat-form-field>

    </div>

    <button type="submit" mat-raised-button color="primary">Save</button>
  </form>
</div>
