<div *ngIf="(sections$ | async) as sections" [sortablejs]="sections" [sortablejsOptions]="sortableOptions">
  <div *ngFor="let section of sections" class="sortable-item section" [class.selected]="!!section.isSelected">

    <div class="sortable-item-handler">
      <div class="drag">
        <i class="material-icons">drag_handle</i>
      </div>
      <button class="settings">
        <i class="material-icons" (click)="onSelect(section)">settings</i>
      </button>
      <button class="delete" (click)="onDelete(section.id)">
        <i class="material-icons">close</i>
      </button>
    </div>

    <foundation-section [classes]="'container float-center'">
      <pippin-email-layout [section]="section"></pippin-email-layout>
    </foundation-section>

  </div>
</div>
