<div [style.text-align]="data.alignment">
  <table class="button" [ngClass]="combineClass" style="display: inline-table;">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <a [href]="data.link" [innerHTML]="data.caption || 'Set a Caption'"></a>
            </td>
          </tr>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </table>
</div>
