<div [style.backgroundColor]="content?.backgroundColor" [style.padding.px]="content?.spacing">
  <foundation-callout [calloutStyle]="content?.calloutStyle">
    <ng-content></ng-content>
  </foundation-callout>
</div>
