<div *ngIf="(layouts$ | async) as layouts" [sortablejs]="layouts" [sortablejsOptions]="sortableOptions" [section-id]="section.id">

  <div *ngFor="let layout of layouts" class="layout sortable-item" [layout-id]="layout.id" [class.selected]="!!layout.isSelected">

    <div class="sortable-item-handler">
      <div class="drag">
        <i class="material-icons">drag_handle</i>
      </div>
      <button class="settings">
        <i class="material-icons" (click)="onSelect(layout)">settings</i>
      </button>
      <button class="delete" (click)="onDelete(layout.id)">
        <i class="material-icons">close</i>
      </button>
    </div>

    <foundation-layout [layout]="layout">
      <ng-template #columnRef let-column>
        <pippin-email-content [column]="column"></pippin-email-content>
      </ng-template>
    </foundation-layout>

  </div>

</div>
