mat-sidenav-container {
  width: 100%;
}

mat-sidenav-content {
  /deep/ router-outlet~* {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
}

mat-sidenav {
  width: 280px;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
}

.main {
  width: 100%;
  position: relative;
  height: calc(100vh - 64px);
}

.el-container {
  overflow: auto;
  height: calc(100vh - 64px);
}
