<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="mat-elevation-z5" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

    <mat-toolbar color="primary">
      <img src="/assets/images/logo32.png" alt="" style="margin-right: 5px;"> PippinPuffin
    </mat-toolbar>

    <div class="el-container">
      <mat-nav-list>
        <mat-list-item (click)="navigate(navMenu.routerLink)" *ngFor="let navMenu of navMenus">
          <mat-icon>{{ navMenu.matIcon}}</mat-icon>&nbsp;&nbsp;
          <span>{{navMenu.title}}</span>
        </mat-list-item>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <pippin-nav-menu (toggle)="sidenav.toggle()"></pippin-nav-menu>

    <div class="main" [@fadeAnimation]="getRouterOutletState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
