<table class="row">
  <tbody>
    <tr>
      <th *ngFor="let column of layout.componentColumns; let first = first; let last = last" [class.first]="first" [class.last]="last"
        [class]="'small-' + column.columnSizes + ' large-' + column.columnSizes + ' columns'">
        <ng-container *ngTemplateOutlet="columnRef, context: { $implicit: column }"></ng-container>
      </th>
    </tr>
  </tbody>
</table>
