<div *ngIf="(theme$ | async) as theme">
  <mat-toolbar>
    <a [routerLink]="'/themes/' + theme.id + '/templates'" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span *ngIf="!(template$ | async)?.id">Create Theme</span>
    <span *ngIf="!!(template$ | async)?.id">Update Theme</span>
  </mat-toolbar>

  <div class="p-4">
    <pippin-template-form-settings [template]="template$ | async" (create)="onCreate($event, theme.id)" (update)="onUpdate($event, theme.id)"
      (delete)="onDelete($event)"></pippin-template-form-settings>
  </div>
</div>
