<div>
  <form [formGroup]="form" novalidate (ngSubmit)="updateTheme(form)">
    <div class="fields">
      <ngx-codemirror formControlName="customCss" [options]="{
      lineNumbers: true,
      mode: 'sass'}">
      </ngx-codemirror>
    </div>
    <div class="p-4">
      <button mat-raised-button color="primary" type="submit">Update</button>
    </div>
  </form>
</div>
