html,
body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pippin-email-section>div,
pippin-email-layout>div,
pippin-email-content>div {
  min-height: 100vh;
  position: relative;
  z-index: 999;
  width: 100%;
}

pippin-email-layout>div,
pippin-email-content>div {
  min-height: 100px;
}
