.placeholder {
  width: auto;
  height: auto;
  opacity: 0.2;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: block !important;
  background-color: transparent;
}

.placeholder::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  color: white;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  background-color: rgba(41, 43, 105, 0.125);
}
