.sortable-item {
  position: relative;
  width: 100%;
}

.sortable-item:before {
  top: 0;
  left: 0;
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: transparent;
  transition: background-color 0.75s;
  -webkit-transition: background-color 0.75s;
  /* Safari */
  border: rgba(41, 43, 105, 0.125) 1px dashed;
}

.sortable-item:hover:before,
.sortable-item.selected {
  background-color: rgba(41, 43, 105, 0.125);
}

.sortable-item.selected>.sortable-item-handler {
  background-color: rgba(41, 43, 105, 0.5);
}

.sortable-item .sortable-item-handler {
  z-index: 104;
  text-align: right;
  padding: 5px;
  position: relative;
  background-color: rgba(41, 43, 105, 0.125);
}

.sortable-item .sortable-item-handler button {
  border: none;
  outline: none;
  line-height: 0;
  color: white;
  cursor: pointer;
  padding: 3px 5px;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(41, 43, 105, 0.125);
  box-shadow: 0 0 1px #999;
  margin-left: 4px;
}

.sortable-item .sortable-item-handler button i {
  font-size: 13px;
}

.sortable-item .sortable-item-handler div.drag {
  float: left;
  color: white;
  cursor: move;
  height: 20px;
}

.sortable-item .empty-placeholder {
  font-size: 12px;
  color: #888888;
  text-align: center;
  padding: 15px;
}
