<mat-card *ngIf="(!templates?.length)">
  No Templates available.
</mat-card>

<div class="row">
  <div *ngFor="let template of templates" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <pippin-template-preview [template]="template"></pippin-template-preview>
    <br>
  </div>
</div>
