@{
  Layout = "";
}
@using System.Collections.Generic;
@using PippinPuffin.Core.Models;
@model Template;

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="/Sass/Render/@Model.ThemeId" >
  
  <link rel="stylesheet" href="~/Contents/Styles/editor/styles.css">
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
            <div id="section-container"></div>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>