@model int;

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="/Sass/Render/@Model" >
</head>
<body>

  <!-- <style> -->
    <table class="body" data-made-with-foundation="">
      <tr>
        <td class="float-center" align="center" valign="top">
          <center data-parsed="">
            <!-- move the above styles into your custom stylesheet -->
            <table align="center" class="container float-center">
              <tbody>
                <tr>
                  <td>

                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>

                    <!--Typography-->
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                    <h1>Typography</h1>
                                    <h1>h1. This is a very large header.</h1>
                                    <h2>h2. This is a large header.</h2>
                                    <h3>h3. This is a medium header.</h3>
                                    <h4>h4. This is a moderate header.</h4>
                                    <h5>h5. This is a small header.</h5>
                                    <h6>h6. This is a tiny header.</h6>

                                    <hr/>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <!--Button-->
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                    <h1>Button</h1>
                                    
                                    <table class="button">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Primary Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>

                                    <table class="button secondary">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Secondary Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button success">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Success Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button warning">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Warning Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button alert">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Alert Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>

                                    <table class="button tiny">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Tiny Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button small">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Small Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Default Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button large">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <td><a href="#">Large Button</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="button expanded">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td>
                                                  <center data-parsed=""><a href="#" align="center" class="float-center">Expanded Button</a></center>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                      <table class="button small-expanded">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td><a href="#">Expand small only</a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>

                                      <table class="button radius">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td><a href="#">Radius</a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                      <table class="button rounded">
                                        <tr>
                                          <td>
                                            <table>
                                              <tr>
                                                <td><a href="#">Round</a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>

                                    <hr/>

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <!--Callout-->
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                    <h1>Callout</h1>
                                    
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Default Callout. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>

                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner primary">
                                          <p>Primary Callout. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>

                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner success">
                                          <p>Success Callout. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>

                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner warning">
                                          <p>Warning Callout. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>

                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner alert">
                                          <p>Alert Callout. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                    
                                    <hr/>

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <!--Typography-->
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                    <h1>Menu</h1>
                                    
                                    Basics
                                    <table class="menu">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <th class="menu-item"><a href="http://zurb.com">Item</a></th>
                                              <th class="menu-item"><a href="http://zurb.com">Item</a></th>
                                              <th class="menu-item"><a href="http://zurb.com">Item</a></th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>

                                    Vertical Menu
                                    <table class="menu vertical">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <th class="menu-item"><a href="http://zurb.com">Item</a></th>
                                              <th class="menu-item"><a href="http://zurb.com">Item</a></th>
                                              <th class="menu-item"><a href="http://zurb.com">Item</a></th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>

                                    <hr/>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <!--Grid-->
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                    <h1>Grid</h1>
                                    Basic
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-4 columns first">
                            <table>
                              <tr>
                                <th>
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Column One. Lorem ipsum dolor sit amea.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-4 columns">
                            <table>
                              <tr>
                                <th>
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Column Two. Lorem ipsum dolor sit amea.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-4 columns last">
                            <table>
                              <tr>
                                <th>
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Column Three. Lorem ipsum dolor sit amea.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                    Collapsed
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <table class="row collapse">
                      <tbody>
                        <tr>
                          <th class="small-12 large-4 columns first">
                            <table>
                              <tr>
                                <th>
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Column One. Lorem ipsum dolor sit amea.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-4 columns">
                            <table>
                              <tr>
                                <th>
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Column Two. Lorem ipsum dolor sit amea.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="small-12 large-4 columns last">
                            <table>
                              <tr>
                                <th>
                                    <table class="callout">
                                      <tr>
                                        <th class="callout-inner">
                                          <p>Column Three. Lorem ipsum dolor sit amea.</p>
                                        </th>
                                        <th class="expander"></th>
                                      </tr>
                                    </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>

</body>
</html>