@using System.Collections.ObjectModel;
@using PippinPuffin.Core.Models;
@model ComponentContent;

<table id="@Model.Id" class="button @Model.CustomClass" style="@Model.CssStyles">
  <tr>
    <td>
      <table>
        <tr>
          <td><a draggable="false" href="#">Button @Model.Id</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
