@using System.Collections.ObjectModel;
@using PippinPuffin.Core.Models;
@model ComponentContent;

<table class="callout">
    <tr>
        <th class="callout-inner secondary">
        <p>I&apos;m in a callout!</p>
        </th>
        <th class="expander"></th>
    </tr>
</table>