@using System.Collections.ObjectModel;
@using PippinPuffin.Core.Models;
@model ComponentContent;

<div data-content-id="@Model.Id" id="@Model.Id" class="data-content sortable-item">
    <div class="sortable-handler sortable-content-handler">Content : @Model.Id</div>
    @Html.Partial("~/Components/Foundation/" + Model.Type +".cshtml", Model)
</div>