@using System.Collections.ObjectModel;
@using PippinPuffin.Core.Models;
@model ComponentContent;

<table>
    <tr>
        <th>
            <img src="http://placehold.it/100?text=center" alt="image of clever meme that made me chuckle" align="center" class="float-center" draggable="false" />
        </th>
        <th class="expander"></th>
    </tr>
</table>