@using System.Collections.ObjectModel;
@using PippinPuffin.Core.Models;
@model ComponentLayout;

@{
    var isFirst = Model.ComponentColumns.First();
    var isLast = Model.ComponentColumns.Last();
}

<div id="@Model.Id" data-layout-id="@Model.Id" class="data-layout sortable-item">
    <div class="sortable-handler sortable-layout-handler">Layout : @Model.Id</div>
    <table class="row">
        <tr>
            
            @foreach(var column in Model.ComponentColumns)
            {
                var firstClass = column.Equals(isFirst) ? "first" : "";
                var lastClass = column.Equals(isLast) ? "last" : "";

                <th class="large-@column.ColumnSizes @firstClass @lastClass columns">
                    
                    <div id="@column.Id" data-column-id="@column.Id" class="sortable-content sortable-container">
                        @foreach(var content in column.ComponentContents)
                        {
                            @Html.Partial("~/Components/Foundation/Content.cshtml", content);
                        }
                    </div>
                
                </th>
            }
            <th class="expander"></th>
        </tr>
    </table>
</div>