@using System.Collections.ObjectModel;
@using PippinPuffin.Core.Models;
@model ComponentSection;

<div id="@Model.Id" data-id="@Model.Id" class="data-section sortable-item">
    <div class="sortable-handler sortable-section-handler">Section: @Model.Id</div>
    <table class="wrapper @Model.ParentCustomClass" align="center" styles="@Model.ParentCssStyles">
        <tr>
            <td class="wrapper-inner">

                <table class="container @Model.ChildCustomClass" style="@Model.ChildCssStyles">
                    <tr>
                        <td>
                        
                            <div data-section-id="@Model.Id" class="sortable-layout sortable-container">
                                
                                @foreach(var layout in Model.ComponentLayouts)
                                {
                                    @Html.Partial("~/Components/Foundation/Layout.cshtml", layout);
                                }

                            </div>
                        
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>
    </table>
</div>