/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~flexboxgrid/css/flexboxgrid.min.css";
body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}

.mat-spacer {
  flex: 1 1 auto;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.CodeMirror {
  height: 100% !important;
  font-size: 13px;
}

.sortable-item {
  cursor: move;
}

.mce-tinymce {
  box-shadow: none !important;
  border: none !important;
}

.mce-panel iframe {
  height: calc(100vh - 250px) !important;
}

.btn-picker {
  margin-right: 5px;
}
