<div *ngIf="selectedContent?.contentType === contentType.Image">
  <div class="p-2">

    <form [formGroup]="form" novalidate (ngSubmit)="submit()">
      <div class="right-panel-form">

        <mat-form-field>
          <textarea matInput formControlName="url" placeholder="Image URL"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="alignment" placeholder="Alignment">
            <mat-option value="left">Left</mat-option>
            <mat-option value="center">Center</mat-option>
            <mat-option value="right">Right</mat-option>
          </mat-select>
        </mat-form-field>

        <section class="mat-typography">
          <h4>Size</h4>
          <div class="row">
            <div class="col-xs-6">
              <mat-form-field>
                <input formControlName="width" matInput placeholder="Width" type="number" />
              </mat-form-field>
            </div>
            <div class="col-xs-6">
              <mat-form-field>
                <input matInput formControlName="height" placeholder="Height" type="number" />
              </mat-form-field>
            </div>
          </div>
        </section>

      </div>
      <button type="submit" mat-raised-button color="primary">Save</button>
    </form>

  </div>
</div>
