<mat-toolbar color="primary" class="mat-elevation-z4">

  <button mat-icon-button (click)="toggleNav()" *ngIf="(isHandset$ | async)">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="mat-spacer"></span>

  <button mat-icon-button>
    <mat-icon>notifications_none</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>apps</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu" overlapTrigger="false">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <a routerLink="/login" mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </a>
  </mat-menu>

</mat-toolbar>
