<div *ngIf="(!!content);else emptyPlaceholder;">
  <div [innerHtml]="content"></div>
</div>

<ng-template #emptyPlaceholder>
  <div class="empty-placeholder">
    Please add a text. Click the settings button to update
  </div>
</ng-template>
