<div *ngIf="(theme$ | async) as theme">

  <mat-toolbar>
    <a routerLink="/themes" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span>{{ theme.name }}</span>
    <span class="mat-spacer"></span>

    <a [routerLink]="'/themes/'+ theme.id +'/templates/new'" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>

  <div class="p-4">
    <pippin-template-preview-list [templates]="templates$ | async"></pippin-template-preview-list>
  </div>

</div>
